/*body {
  background-color: #1e57d8;
}*/

*, *:before, *:after {
  box-sizing: border-box;
}

header {
  background-color: #1e57d8;
}

#header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#poke-team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 50%;
  margin: 0 auto;
}

.team-member h4 {
  text-align: left;
  padding: 0px;
  margin: 0px;
  font-family: Arial;
}

.team-member-img {
  height: 100px;
  width: 100x;
  padding: 2px;
}

#add-poke {
  border: 2px solid black;
  background-color: #1e57d8;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

#add-poke label {
  color: #FAEBD7;
  font-family: Arial;
}

#nickname {
  padding: 2px;
  border: 2px solid #6495ED;
  border-radius: 4px;
}

#gender-select {
  padding: 2px;
  border: 2px solid #6495ED;
  border-radius: 4px;
}

#is-shiny {
  padding: 2px;
  border: 2px solid #6495ED;
  border-radius: 4px;
}

#submit-to-team {
  padding: 2px;
  border: 2px solid #6495ED;
  border-radius: 4px;
  background: #FAEBD7;
  display: block;
  padding: 5px;
  width: 25%;
  font-size: 100%;
  margin-left: 20px;
  margin-top: 10px;
}

#pokemon-search {
  margin: 0 auto;
  width: 50%;
}

/* #poke-form {
  border: 2px solid black;
} */

#search {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#pokedex {
  border: 4px solid black;
  border-radius: 10px;
  background-color: #B22222;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

#poke-heading {
  background-color: #CD5C5C;
  border-radius: 6px;
  width: 50%;
  padding-left: 8px;
  margin-left: 4px;
}

#poke-heading h1 {
  color: #FAEBD7;
  font-family: Arial;
  margin-bottom: 0px;
}

#poke-heading h3 {
  color: #FAEBD7;
  font-family: Arial;
  margin-top: 0px;
}

#img-div {
  padding-right: 10px;
  padding-top: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
}

#pokedex div img{
  background-color: white;
  border: 2px solid black;
  /* margin-bottom: 50%; */
}

#poke-stats {
  background-color: #CD5C5C;
  border-radius: 6px;
  width: 50%;
  padding-left: 8px;
  margin-left: 4px;
}

#poke-stats h4 {
  color: #FAEBD7;
  font-family: Arial;
  padding: 2px;
  margin: 2px;
}

#flavor {
  background-color: #CD5C5C;
  border-radius: 6px;
  width: 50%;
  padding-left: 8px;
  margin-left: 4px;
}

#flavor p {
  color: #FAEBD7;
  font-family: Arial;
}

#add-btn {
  background-color: #FAEBD7;
  border: 2px solid black;
  border-radius: 6px;
  padding: 15px 32px;
  font-size: 100%;
  margin-left: 20px;
  margin-bottom: 10px;
}

#search-results {
  width: 50%;
  margin: 0 auto;
}

#add-to-team {
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.team-member {
  animation-name: bounce;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.team-member:nth-child(1) {
  animation-delay: 1s;
}

.team-member:nth-child(2) {
  animation-delay: 3s;
}

.team-member:nth-child(3) {
  animation-delay: 4s;
}

.team-member:nth-child(4) {
  animation-delay: 6s;
}

.team-member:nth-child(5) {
  animation-delay: 2s;
}

.team-member:nth-child(6) {
  animation-delay: 5s;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}